<!DOCTYPE html>
<html>
    <head>
        <title> View Data </title>
    </head>
    <body>
        <table border = '1'>
            <tr>
                <th> Name </th>
                <th> Age </th>
                <th> Occupation </th>
                <th> Company </th>
            </tr>
            {{#if data.visible}}
                <tr>
                    <td> {{data.name}} </td>
                    <td> {{data.age}} </td>
                    <td> {{data.occupation}} </td>
                    <td> {{data.company}} </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="4"> User: '{{data.name}}' has hidden his information </td>
                </tr>
            {{/if}}

            {{#unless data.contract}}
                <tr>
                    <td colspan = "4"> Full-time employee </td>
                </tr>
            {{/unless}}

            {{!-- using arrayData --}}
            {{!-- 
            {{#each data}}
                <tr>
                    <td> {{name}} </td>
                    <td> {{age}} </td>
                    <td> {{occupation}} </td>
                    <td> {{company}} </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="4"> No Data Available </td>
                </tr>
            {{/each}}
            --}}
        </table>
    </body>
</html>